<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springframework.ide.eclipse.boot.devtools.client.launch">
<stringAttribute key="bad_container_name" value="eclipse/sboot_insurance_remote_config"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/sboot-rest-starter"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.springframework.ide.eclipse.boot.launch.BootMavenClassPathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="sboot-rest-starter"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.springframework.ide.eclipse.boot.launch.BootMavenSourcePathProvider"/>
<stringAttribute key="spring.devtools.remote.secret" value="mysecret1"/>
<stringAttribute key="spring.devtools.remote.url" value="https://localhost:8080"/>
</launchConfiguration>
